<ul class="articleList">
  <% _.each(articles, function (article) { %>
  <li class="articleList_item">
    <h1 class="articleList_title">
      <a class="articleList_title_link" href="/article/<%= article.id%>"><%= article.title%></a>
    </h1>

    <ul class="articleList_tags c_tagList">
      <% _.each(article.tags, function (tag) { %>
      <li class="articleList_tags_tag c_tagItem"><%= tag.name %></li>
      <% }) %>
    </ul>

    <div class="articleList_body">
      <span class="articleList_body_text"><%= article.body %></span>　
      <a class="articleList_body_link" href="/article/<%= article.id%>">続きを読む→</a>
    </div>
  </li>
  <% }) %>
</ul>
